@switch (currentStatePost) {
    @case (POST_STATES.EMPTY) {
        <p>Пост не загрузился</p>
    }
    @case (POST_STATES.VIEW) {
        <app-post-view [post]="post"
                       (deletePost)="onDeletePost($event)"
                       (editPost)="onStartEditPost()">
        </app-post-view>
    }
    @case (POST_STATES.EDIT) {
        <app-post-edit [post]="post"
                       [editPostForm]="editPostForm"
                       (savePost)="onSavePost($event)"
                       (cancelEdit)="onCancelEdit()">
        </app-post-edit>
    }

}
