@use '../core/common/styles/mixins';

:host {
    //background-color: red;
}

.wrapper {
    background-color: #181818;
    height: 100vh;
    @include mixins.flex(row, center, center)
}

.error{
    border: none;
    background: none;

    &-content{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    &-icon {
        font-size: 3rem;
        width: 50px;
        height: 50px;
        color: red;
    }

    &-message {
        color: #666;
        //margin-bottom: 1.5rem;
        font-size: 1.3rem;
    }
}
