.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #242424;
    border: none;
    max-width: 80rem;

    &-content {
        max-width: 60rem;
        cursor: pointer;
    }

    &-actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        gap: 0.8rem;
    }
}
