<mat-card class="card" appearance="outlined">
    <mat-card-content class="card-content">
        <mat-card-header>
            <span class="post-id">{{ post.id }}</span>
            <mat-card-title>{{ post.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>{{ post.body }}</mat-card-subtitle>
    </mat-card-content>

    <mat-card-actions class="card-actions" align="end" >
        <button mat-flat-button (click)="deletePost.emit()">
            <mat-icon fontIcon="delete"></mat-icon>
            Delete
        </button>
        <button  mat-flat-button (click)="editPost.emit()">
            <mat-icon fontIcon="edit"></mat-icon>
            Edit
        </button>
    </mat-card-actions>
</mat-card>
