@if (post$ | async; as post) {
    <mat-card class="card" appearance="outlined">
        <div class="card-content">
            <div class="card-header">
                <span class="card-id">{{ post.id }}</span>
                <mat-card-title>{{ post.title | truncate:80 }}</mat-card-title>
            </div>
            <mat-card-subtitle>{{ post.body | truncate:150 }}</mat-card-subtitle>
        </div>

        <mat-card-actions class="card-actions" align="end">
            <button mat-raised-button
                    [disabled]="(isDeletePostLoading$ | async)"
                    (click)="deletePost.emit()">
                <mat-icon>delete</mat-icon>
                {{ (isDeletePostLoading$ | async) ? 'Deleting' : 'Delete' }}
            </button>
            <button mat-raised-button (click)="editPost.emit()">
                <mat-icon>edit</mat-icon>
                Edit
            </button>
        </mat-card-actions>
    </mat-card>
}
