@use '../../../../../core/common/styles/mixins';

.card {
    display: flex;
    flex-direction: row;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-2px);
    }

    &-header {
        @include mixins.flex(row, flex-start, center);
        gap: 1rem;
        margin-bottom: 1rem;
    }


    &-id {
        font-size: 1.2rem;
    }

    &-content {
        max-width: 80rem;
        padding: 1rem 0 0 1rem;
        cursor: pointer;
    }

    &-actions {
        width: 300px;
        margin-left: auto;
        @include mixins.flex(column, space-between, flex-end);
        gap: 0.8rem;
    }
}

@include mixins.max-medium {
    .card {
        display: flex;
        flex-direction: column;

        &-header {
            margin-bottom: 0.8rem;
        }

        &-actions {
            width: 250px;
            display: flex;
            flex-direction: row;
        }
    }
}
