@switch (isPostViewMode) {
    @case (POST_CARD_MODES.VIEW) {
        <app-post-view [post]="post"
                       (deletePost)="onDeletePost(post.id)"
                       (editPost)="onStartEditPost()">
        </app-post-view>
    }
    @case (POST_CARD_MODES.EDIT) {
        <app-post-edit [post]="post"
                       [newPostForm]="newPostForm"
                       (savePost)="onSavePost()"
                       (cancelEdit)="onCancelEdit()">
        </app-post-edit>
    }
}
