$phone: 600px;
$tablet: 768px;
$desktop: 1024px;


.card {
    display: flex;
    flex-direction: row;

    &-content {
        width: 40rem;
        padding: 1rem 0 0 1rem;
    }

    &-actions {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        gap: 0.8rem;
        padding: 1rem 1rem 1rem 0;
    }
}

.example-form {
    min-width: 150px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

@media (max-width: $tablet) {
    .card {

        &-content {
            width: 30rem;
        }
    }
}

@media (max-width: $phone) {
    .card {

        &-content {
            width: 20rem;
        }
    }
}
