<mat-card class="card" appearance="outlined" (submit)="savePost.emit()">
    <mat-card-content class="card-content">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="newPostForm.title" name="title">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Body</mat-label>
                <textarea matInput [(ngModel)]="newPostForm.body" name="body"></textarea>
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions class="card-actions" align="end">
        <button mat-raised-button (click)="savePost.emit()">
            <mat-icon>save</mat-icon>
            Save
        </button>
        <button mat-raised-button (click)="cancelEdit.emit()">
            <mat-icon>cancel</mat-icon>
            Cancel
        </button>
    </mat-card-actions>
</mat-card>
