@if (isLoading) {
    <div class="loader-posts">Loading posts...</div>
}

@if (posts.length === 0) {
    <div>Posts did not load</div>
} @else {
    <div class="search">
        <input
            type="text"
            class="search-input"
            placeholder="Search"
            [(ngModel)]="searchQuery"
            (ngModelChange)="searchPosts()">
    </div>

    <form class="form" (submit)="creatingPost()">
        <div class="form-group">
            <label class="form-label" for="title">Title:</label>
            <input class="form-input"
                   id="title"
                   type="text"
                   placeholder="Enter title"
                   name="title"
                   [(ngModel)]="formGroup.title"/>
        </div>
        <div class="form-group">
            <label class="form-label" for="body">Body:</label>
            <input class="form-input"
                   id="body"
                   type="text"
                   placeholder="Enter body"
                   name="body"
                   [(ngModel)]="formGroup.body"/>
        </div>
        <div class="form-group">
            <button type="submit" class="form-button" [disabled]="!formGroup.title || !formGroup.body">Create post
            </button>
        </div>
    </form>

    <div class="filter">
        <button class="filter-toggle" (click)="toggleFiltersVisibilityMenu()">
            {{ sortColumn ? 'Filter: ' + sortColumn : 'Filter' }}
        </button>
        @if (sortColumn) {
            <span class="filter-reset" (click)="resetFiltersPost()">Сбросить</span>
        }

        @if (isOpenFilterMenu) {
            <ul class="filter-menu">
                <li class="filter-item"
                    [class.filter-item__active]="isSorted('body')"
                    (click)="sortPostsBy('body')">body
                </li>
            </ul>
        }
    </div>

    @if (searchQuery && filteredPosts.length === 0) {
        <div>Posts not found</div>
    } @else {
        <section>
            @for (post of filteredPosts; track post.id) {
                <apps-post-card
                    [post]="post"
                    (deletePost)="deletingPost($event)"
                    (editPost)="editingPost($event)"
                ></apps-post-card>
            }
        </section>
    }
}
