@if (postsLoadingStatus === 'loading') {
    <div class="loader-posts">Loading posts...</div>
}

@if (posts.length === 0) {
    <div>Posts did not load</div>
} @else {

    <form class="form" (submit)="handleFormCreatePost()">
        <div class="form-group">
            <label class="form-label" for="title">Title:</label>
            <input class="form-input"
                   id="title"
                   type="text"
                   placeholder="Enter title"
                   name="title"
                   [(ngModel)]="formGroup.title"/>
        </div>
        <div class="form-group">
            <label class="form-label" for="body">Body:</label>
            <input class="form-input"
                   id="body"
                   type="text"
                   placeholder="Enter body"
                   name="body"
                   [(ngModel)]="formGroup.body"/>
        </div>
        <div class="form-group">
            <button type="submit" class="form-button" [disabled]="!formGroup.title || !formGroup.body">Create post
            </button>
        </div>
    </form>

    <div class="search">
        <input
                type="text"
                class="search-input"
                placeholder="Search"
                [(ngModel)]="search"
                (ngModelChange)="handleSearch()">
    </div>

    <div class="filter">
        <button class="filter-toggle" (click)="handleOpenFilterMenu()">
            {{ filterType ? 'Filter: ' + filterType : 'Filter' }}
        </button>
        @if (filterType) {
            <span class="filter-reset" (click)="handleResetFilter()">Сбросить</span>
        }

        @if (isOpenFilterMenu) {
            <ul class="filter-menu">
                <li class="filter-item" [class.filter-item__active]="isFiltered('title')" (click)="handleFilter('title')">
                    title
                </li>
                <li class="filter-item" [class.filter-item__active]="isFiltered('body')" (click)="handleFilter('body')">
                    body
                </li>
                <li class="filter-item" [class.filter-item__active]="isFiltered('noTitle')" (click)="handleFilter('noTitle')">
                    noTitle
                </li>
                <li class="filter-item" [class.filter-item__active]="isFiltered('noBody')" (click)="handleFilter('noBody')">
                    noBody
                </li>
            </ul>
        }
    </div>

    @if (search && filteredPosts.length === 0) {
        <div>Posts not found</div>
    } @else {
        <section>
            @for (post of filteredPosts; track post.id) {
                <apps-post-card
                        [post]="post"
                        (postDeleted)="handleDelete($event)"
                        (postEdited)="handelEditPost($event)"
                ></apps-post-card>
            }
        </section>
    }
}
