@if ((isPostsLoading$ | async) === 'loading') {
    <div class="wrapper">
        <mat-spinner color="primary" [diameter]="40"></mat-spinner>
    </div>
}

@if ((isPostsLoading$ | async) === 'failed') {
    <div>Posts didn't load</div>
} @else {
    <app-post-form (submitForm)="createPost$.next($event)"></app-post-form>

    <div class="posts-actions">
        <div class="filters-actions">
            <app-filter-dropdown
                [options]="filters"
                [selected]="activeFilter$ | async"
                (selectionChange)="applyFilter$.next($event)"
            ></app-filter-dropdown>

            @if (!!(activeFilter$ | async)) {
                <button mat-raised-button (click)="resetFilter$.next()">Reset</button>
            }
        </div>

        <mat-form-field class="search" appearance="outline">
            <input matInput type="text" placeholder="Search" [formControl]="searchPostControl">
        </mat-form-field>
    </div>

    @if ((modifiedPosts$ | async)?.length === 0) {
        <div>Posts not found</div>
    } @else {
        @for (post of modifiedPosts$ | async; track post.id) {
            <app-post-card
                [post]="post"
                (updatePost$)="updatePost$.next($event)"
                (postDeleted$)="deletePost$.next($event)">
            </app-post-card>
        }
    }
}
