//@use "../../../../core/common/styles/mixins.scss"

:host {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
}

.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    margin-left: auto;
    width: 40rem;

    &-input {
        width: 100%;
        padding: 0.75rem;
        color: white;
        background-color: #242424;
        border-radius: 0.5rem;
        border: 1px solid #855ec8;
        font-size: 1rem;

        &:focus {
            outline: none;
            border-color: white;
        }
    }
}

.filter {
    width: 250px;
    display: flex;;
    position: relative;

    &-toggle {
        padding: .3rem 1rem;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #855ec8;
        background-color: #242424;
        transition: all 0.2s ease;
        border: 1px solid #855ec8;

        &:hover{
            background-color: lighten(#242424, 3%);
        }
    }

    &-reset{
        margin-left: 1rem;
        padding: .3rem 1rem;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #855ec8;
        background-color: #242424;
        transition: all 0.2s ease;
        border: 1px solid #855ec8;

        &:hover{
            background-color: lighten(#242424, 3%);
        }
    }

    &-menu {
        margin-top: .3rem;
        min-width: 8rem;
        border-radius: 8px;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #cbcbcb;
        list-style: none;
        z-index: 999;
    }

    &-item {
        font-size: 1rem;
        padding: .5rem 1rem;
        cursor: pointer;
        color: #242424;

        &:hover {
            text-decoration: underline;
        }
    }
}

.posts-actions {
    max-width: 80rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
