@use '../../../../../core/common/styles/mixins';

:host {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    height: 100vh;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    margin-left: auto;
    width: 40rem;
}

.posts-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filters-actions {
    width: 30rem;
    display: flex;
    gap: 1rem;
}

@include mixins.max-medium {
    .posts-actions {
        flex-direction: column;
        align-items: flex-start;
    }

    .search {
        margin: 0;
    }
}
