$phone: 600px;
$tablet: 768px;
$desktop: 1024px;

.title {
    user-select: none;
    text-decoration: none;
    color: var(--mat-app-text-color);
}

.toggle-burger {
    display: none;
}

.nav {
    display: flex;
    gap: 1rem;

    &-link {
        color: var(--mat-app-text-color);
        font-size: 1.2rem;
        text-decoration: none;
    }
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
}

.active-link {
    color: var(--mat-app-text-color);
    font-weight: bold;
}

@media (max-width: $tablet) {
    .toggle-burger {
        display: inline-flex;
    }

    .nav {
        display: none;
    }
}

@media (max-width: $phone) {
    .toggle-burger {
        margin-right: 1rem;
    }
}
