@use '../../../../assets/styles/mixins/mixins-screen';

.title {
    user-select: none;
    text-decoration: none;
    color: var(--mat-app-text-color);
}

.toggle-burger {
    display: none;
}

.nav {
    display: flex;
    gap: 1rem;

    &-link {
        color: var(--mat-app-text-color);
        font-size: 1.2rem;
        text-decoration: none;
    }
}

.toolbar-row {
    display: flex;
    justify-content: space-between;
}

.active-link {
    color: var(--mat-app-text-color);
    font-weight: bold;
}

@include mixins-screen.max-medium {
    .toggle-burger {
        display: inline-flex;
    }

    .nav {
        display: none;
    }
}

@include mixins-screen.max-small {
    .toggle-burger {
        margin-right: 1rem;
    }
}
