<mat-toolbar class="header">
    <mat-toolbar-row>
        <a class="header-title" [routerLink]="ROUTE.HOME.PATH">Angular WEB</a>
        <nav class="header-nav-links">
            <a class="header-nav-link"
               [routerLink]="ROUTE.HOME.PATH"
               routerLinkActive="active-link"
               [routerLinkActiveOptions]="{exact: true}">
                {{ ROUTE.HOME.TITLE }}
            </a>
            <a class="header-nav-link"
               [routerLink]="ROUTE.POSTS.PATH"
               routerLinkActive="active-link"
               [routerLinkActiveOptions]="{exact: true}">
                {{ ROUTE.POSTS.TITLE }}
            </a>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>
